<!DOCTYPE html>
<html>
<head>
    <title>HokieFind</title>
</head>
<body>

<h1>HokieFind Listings</h1>

<h2>Add Listing</h2>
<form action="/add" method="POST">
    <input name="location" placeholder="Location Found" required>
    <input name="image" placeholder="Image URL">
    <button type="submit">Add</button>
</form>

<h2>All Listings</h2>

<ul>
    {% for item in listings %}
        <li>
            ID: {{ item[0] }} |
            Location: {{ item[3] }} |
            Image: {{ item[6] }}

            <a href="/edit/{{ item[0] }}">Edit</a>
            <a href="/delete/{{ item[0] }}">Delete</a>
        </li>
    {% endfor %}
</ul>

</body>
</html>